//fonts
@font-face {
  font-family: 'opengost';
  src: local('opengost'),
  url('opengosttypea-regular-webfont.woff') format('woff'),
  url('opengosttypea-regular-webfont.woff2') format('woff2');
  font-weight: 400;
}