$base: '.radio-wrap';

#{$base} {
  @include font-param(14px, 32px, 400);
  padding-left: 30px;
  cursor: pointer;
  position: relative;
  user-select: none;

  &:hover {
    color: $primary;
  }

  #{$base}__input {
    display: none;
  }

  &__input ~ &__mask {
    position: absolute;
    top: -2px;
    left: 0;
    @include size(20px);
    border: 1px solid #dddddd;
    border-radius: 50%;
    box-sizing: border-box;
  }

  &__input:checked ~ &__mask {
    border: 7px solid $primary;
    //background-color: $primary;
  }
}


/* Modificators */
// inverted
#{$base}_inverted {
  #{$base}__input:checked ~ #{$base}__mask {
    border: 1px solid $grey;
    background-color: $white;
  }
  #{$base}__input:checked ~ #{$base}__mask::before {
    background-color: $primary;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 0;
      height: 0;
      margin: auto;
      border-radius: 50%;
      border: 3px solid $primary;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
}

// disabled
#{$base}_disabled {
  cursor: default;

  &:hover {
    color: currentcolor;
  }

  #{$base}__mask {
    border-color: $grey !important;
    background-color: $white !important;
  }

  #{$base}__input:checked ~ #{$base}__mask::before {
    border-color: $grey;
  }
}

#{$base}_disabled#{$base}_inverted {
  cursor: default;

  &:hover {
    color: currentcolor;
  }

  #{$base}__mask {
    &::before {
      border-color: $grey;
    }
  }
}
