$select_padding: 10px;
$base: '.select-wrap';

#{$base} {
  position: relative;

  .icon {
    position: absolute;
    z-index: 1;
    right: 8px;
    top: 13px;
    transform: translateZ(0);
    transition: transform .3s;
  }
}

.rw-dropdownlist {
  border: 1px solid #ddd;
  font-size: 14px;
  border-radius: $radius;
  position: relative;
  height: 40px;
  max-height: 40px;
  background: #fff;

  &:hover {
    border-color: $black;
    outline: $primary;
  }

  &.rw-open {
    border-color: $primary;
    z-index: z-index('dropdown');
  }

  &.rw-state-focus {
    z-index: z-index('dropdown');
  }

  &:focus {
    border-color: $black;
    background: #fff;
    outline: none;
  }
  .rw-i-caret-down {
    @include hasicon;
    position: absolute;
    pointer-events: none;
    user-select: none;
    text-align: center;
    right: $select_padding;
    top: 50%;
    transform: translateY(-45%);
    width: 18px;
    height: 18px;

    &::before {
      content: '';
      line-height: 18px;
      display: block;
      background-size: cover;
      color: $primary;
    }
  }

  &.rw-open .rw-i-caret-down::before {
    transform: rotateZ(180deg) translateY(2px);
  }

  .rw-i-caret-down.rw-loading {
    background-image: url(data:image/png;base64,R0lGODlhEAAQAPIAAP///zMzM87OzmdnZzMzM4GBgZqamqenpyH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==);
    background-position: center;
    background-repeat: no-repeat;
    &::before {
      display: none;
    }
  }

  .rw-input {
    line-height: 14px;
    padding: 13px $select_padding*4 13px $select_padding;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .rw-popup-container {
    position: absolute;
    width: 100%;
    top: calc(100% + 4px);
    background: #fff;

    .rw-popup {
      width: 100%;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
      border-radius: $radius;
    }
  }

  .rw-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 150px;
    height: auto;
    overflow: auto;
    background: #fff;
  }

  .rw-list-option {
    padding: $select_padding;
    cursor: pointer;
    user-select: none;
    &:active {
      background: $lgrey;
      outline: none;
    }
  }

  .rw-state-selected {
    color: lighten($primary, 20%);
  }
  .rw-list-option:hover,
  .rw-state-focus {
    color: $primary;
  }

  .rw-filter-input {
    width: 100%;
    padding: $select_padding;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .rw-input {
      width: 100%;
      padding: $select_padding /2;
      border: 1px solid $grey;
      border-radius: $radius;
    }
  }

  .rw-list-empty {
    padding: $select_padding;
  }
}

// Modifiers
#{$base}_disabled {
  .rw-dropdownlist {
    border-color: $grey;
    color: $grey;
    .rw-i-caret-down::before {
      color: $grey;
    }
  }
}
