.btn {
  @include main_font;
  text-align: center;
  text-decoration: none;
  outline: none;
  //outline-color: $primary; todo че то сделать с аутлайном
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  padding: 13px 8px 11px;
  background-color: $white;
  border: 1px solid $grey;
  border-radius: 3px;
  width: 100%;
  user-select: none;
  @include font-param(14px, 14px, 700);

  &:hover {
    background-color: $black;
    color: $white;
    border-color: $black;
  }

  &_green {
    background-color: $primary;
    border-color: $primary;
    color: $white;
    font-weight: 700;
    border-radius: 3px;
    outline-color: $black;

    &:hover {
      background-color: #398124;
      border-color: #398124;
    }
  }

  &_disabled {
    background: $grey;
    border-color: $grey;
    outline: none;
    //color: darken($grey, 20%);

    &:hover {
      background: $grey;
      border-color: $grey;
    }
  }

  &_calculation {
    @include font-param(15px, 15px, 400, #ffffff);
    padding: 15px 18px 14px;
    border-radius: 0;
    width: auto;
  }

  &_arrow-right {
    padding-right: 46px;
    position: relative;
    @include hasicon_after;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      right: 15px;
      width: 15px;
      height: 20px;
      line-height: 20px;
      text-align: right;
      font-size: .8em;
    }
  }

  &_gray {
    background-color: #ececec;
    color: #555;
    border: none;

    &:hover {
      box-shadow: 0 0 2px #aaa;
      background-color: #eee;
    }
  }

  &_send {
    width: 100%;
  }


  &_map {
    display: inline-block;
    float: right;
    width: auto;
    @include font-param(12px, 14px, 400, #ffffff);
    border-radius: 0;
    padding: 1px 15px 5px;
    margin-top: 3px;
  }


  // old modifiers

  &--to-list {
    @include font-param(13px, 13px, 400, #555);
    padding-top: 3px;
    padding-bottom: 5px;
    padding-right: 11px;
    padding-left: 27px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 7px;
      left: 7px;
      @include size(0);
      border-style: solid;
      border-width: 7px 7px 0 6px;
      border-color: #4ba82e transparent transparent transparent;
    }

  }

  &--info {
    padding-left: 48px;
    padding-right: 17px;
    margin-left: 17px;

    &::before {
      content: '';
      position: absolute;
      top: 10px;
      left: 19px;
      @include size(12px);
      border: 2px solid #000000;
      border-radius: 50%;
    }

    &::after {
      content: 'i';
      font-size: 10px;
      position: absolute;
      top: 12px;
      left: 26px;
    }

  }

  &--info-discounts {
    padding-left: 42px;
    padding-right: 20px;
  }

  &--discount,
  &--exception {
    float: right;
    margin-right: 19px;
    padding-left: 12px;
    padding-right: 19px;
  }

  &--exception {
    padding-left: 18px;
  }

  &--search {
    @include font-param(14px, 32px, 700, #ffffff);
    float: right;
    width: 104px;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 3px;
  }

  &--edit-block {
    display: none;
    padding: 12px 14px;
  }

  &--add-exception {
    padding: 12px 20px;
  }

  &--profile-photo {
    display: block;

    input {
      position: absolute;
      left: -99999px;
    }

  }

  &--profile-edit,
  &--profile-password {
    font-size: 16px;
    line-height: 16px;
    padding: 16px 42px;
    margin-right: 6px;
  }

  &--mode {
    float: right;
    padding-left: 20px;
    padding-right: 20px;
  }

}
