$font-fam: 'opengost';

$font-1-local: 'opengost';
$font-1-url1: './opengosttypea-regular-webfont.woff';
$font-1-url2: './opengosttypea-regular-webfont.woff2';

//fonts

@font-face {
  @include font-setup($font-fam, $font-1-local, $font-1-url1, $font-1-url2);
  font-weight: 400;
}